.app {
}
.tsinfolink {
    position:absolute;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    color: white;
    background: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.x-border-layout-ct {
    background-color: #fff;
}

.permission-selected {
    background-color: #00a9e0;
    color: #fff;
    padding: 1px 5px 1px 5px;
    text-align:center;
    font-size: 11px;
    height: 15px;
    border-color: #00a9e0;
    border-radius: 2px;
    cursor:pointer;
}
.permission-not-selected {
    color: #00a9e0;
    background-color: #fff;
    padding: 0 5px 0 5px;
    text-align:center;
    border: solid;
    border-width: 1px;
    font-size: 11px;
    height: 15px;
    border-radius: 2px;
    cursor:pointer;
}
.team-member-yes {
    color: #3a874f;
    cursor:pointer;
}
.team-member-no{
    color: #888d8e;
    cursor:pointer;
}


.x-resizable-over {
    border-radius: 0px;
    box-shadow: none;
    top:0px;
    right: 0px!important;
    width: 100px;
}

.x-resizable-over .x-resizable-handle-east,
.x-resizable-over .x-resizable-handle-north,
.x-resizable-over .x-resizable-handle-northwest,
.x-resizable-over .x-resizable-handle-northeast,
.x-resizable-over .x-resizable-handle-west,
.x-resizable-over .x-resizable-handle-south,
.x-resizable-over .x-resizable-handle-southwest,
.x-resizable-over .x-resizable-handle-southeast,
.x-resizable-pinned .x-resizable-handle-north,
.x-resizable-pinned .x-resizable-handle-northwest,
.x-resizable-pinned .x-resizable-handle-east,
.x-resizable-pinned .x-resizable-handle-south,
.x-resizable-pinned .x-resizable-handle-southwest,
.x-resizable-pinned .x-resizable-handle-southeast,
.x-resizable-pinned .x-resizable-handle-northeast,
.x-resizable-pinned .x-resizable-handle-west {
    background-image: none;
    cursor: col-resize;
    background-color:#f6f6f6;

}

.x-resizable-handle-west {
    width: 8px;
}

.view-permissions {
    position: absolute;
    border-left: 8px  solid #16a2e0;
    box-shadow: none;
    top:0px;
    right: 0px!important;
    width: 100px;
}

.view-permissions .x-panel-body {
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 0px;
    background-color: #f6f6f6;
}

.view-permissions-title-header {
    border-bottom-width: 1px;
    border-bottom-color: silver;
    background-color:#f6f6f6;
}
.view-permissions-title {
    display: inline-block;
    font-family: ProximaNovaBold,helvetica,sans-serif;
    font-size: 14px;
    margin: 0;
    line-height: 3.2rem;
}
.view-permissions-subtitle {
    font-family: NotoSans,helvetica,sans-serif;
    font-size: 14px;
    color:#222;
    line-height: 14px;
    text-align: left;
    padding-top: 25px;
    padding-left: 10px;
}
.view-permissions-subtitle-icon {
    color: #222;
    font-size: 14px;
    margin-right: .3rem;
    margin-left: .3rem;
}
.view-permissions-icon {
    font-size: 18px;
    vertical-align: text-top;
    color: #a9a9a9;
    margin-right: .3rem;
    margin-left: .3rem;
}


.view-permissions-close {
    color: #a9a9a9;
    background-color: transparent;
    font-size: 18px;
    vertical-align: top;
    text-align: right;
}
.view-permissions-grid {
    border-right: 0px white!important;
    border-left: 0px white!important;
}
.view-permissions-grid .x-grid-cell-inner-treecolumn,
.view-permissions-grid .x-grid-cell-inner{
    cursor: default;
    font-family: ProximaNova, Helvetica, sans-serif!important;
    font-size: 14px!important;
    padding: 4px 2px;
    white-space: normal;
    word-wrap: break-word;
    background-color: white;
    border-color: white!important;
    border: none!important;

}

.view-permissions-grid-no-access .x-grid-cell-inner-treecolumn{
    color: #888;
}

.view-permissions-grid .x-column-header {
    font-size: 12px!important;
    background-color: #f6f6f6;
}
.view-permissions-grid .x-column-header-text {
    font-size: 12px!important;
    background-color: #f6f6f6;
}

.expand-collapse {
    color: #888!important;
    background-color: #fff;
    background-image: none;
    border-color: #fff;
    text-decoration: none;
    font-size: 16px;
    overflow: visible!important;
}

.no-padding {
    padding-top: 0px!important;
}
